<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                    <h3>Invoice</h3>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                <div class="input-group">
                    <button  class="btn btn-primary"><i class="fa fa-download"></i> Download</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div id="content" #content  class="col-md-12">
        <div class="card mb-2 col-md-12 shadow bg-white rounded">
            <div class="card-body">
                <div>
                    <div class="table-responsive pt-3">
                        <table class="table table-hover">
                            <thead class="style">
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Total Orders
                                    </th>
                                    <th>
                                        Total Payment
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        10
                                    </td>
                                    <td>
                                        AED 1000
                                    </td>
                                    <td>
                                        AED 1000
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>