<!-- <div class="card style pt-2">
    <div class="col-md-12">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                    <h3>Edit menu item</h3>
                </div>
            </div>
        </div>
    </div>
</div> -->
<nav aria-label="breadcrumb">
    <ol class="ml-2 breadcrumb no-pad">
        <li class="breadcrumb-item"><a [routerLink]="['../../']" href="javascript:void(0)">Menu</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit item</li>
    </ol>
</nav>

<div class="mb-2 card">
    <!-- <div class="card-title">
        Burger
    </div> -->
    <div class="ml-2 card-body">
            <form [formGroup]="form" (submit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Name <span class="required">*</span></label>
                            <input type="text" class="form-control" formControlName="name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Food Picture</label>
                            <div>
                                <input type="file" id="picture" accept="image/*"
                                    (change)="onSelectFile($event)" required>
                            </div>
                            <img *ngIf="ImgPath" style="width: 30px; height: 30px;" src="{{ImgPath}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Category <span class="required">*</span></label>
                            <select formControlName="category"  class="form-control" name="" required>
                                <option value="">Select Category</option>
                                <option *ngFor="let item of category" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Cuisine <span class="required">*</span></label>
                            <select formControlName="cuisine"  class="form-control" name="" required>
                                <option value="">Select Cuisine</option>
                                <option *ngFor="let item of cuisines" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Food Preference <span class="required">*</span></label><br>
                            <select placeholder="Preference" formControlName="isVeg" class="form-control" name=""
                                required>
                                <option value="">Select food Preference</option>
                                <option value="true">Veg</option>
                                <option value="false">Non Veg</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Status <span class="required">*</span></label>
                            <section class="checkbox-section" name="" required>
                                <label class="checkbox-inline">
                                    <input class="check" type="checkbox" [(ngModel)]="isActive"
                                        [ngModelOptions]="{standalone: true}" /> Is
                                    Active</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label class="checkbox-inline">
                                    <input class="check" type="checkbox" [(ngModel)]="isAvailable"
                                        [ngModelOptions]="{standalone: true}" /> Is Available</label>
                            </section>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Price <span class="required">*</span></label>
                            <input type="number" class="form-control" formControlName="price" min="1" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Discount</label>
                            <input type="number" class="form-control" formControlName="discount" min="1"
                            onkeyup="if(this.value<0){this.value= this.value * -1}">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Preparation time <span class="required">*</span></label>
                            <input type="number" class="form-control" formControlName="preparation_time" min="1"
                             onkeyup="if(this.value<0){this.value= this.value * -1}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Description <span class="required">*</span></label>
                            <textarea name="" cols="10" rows="1" class="form-control"
                                formControlName="discription"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-secondary btn-sm">Update</button>
                            <img src="../../../../../../assets/images/loader.gif" *ngIf="loading">
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>