<div class="row">
    <div *ngIf="loading" class="dot-opacity-loader">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="col-md-12" *ngIf="OfferDetails !== undefined">
        <div class="card col-md-12 p-2 ml-0.5 pb-3">
            <div class="row">
                <div class="col-md-6">
                    <div style="text-align:start;" class="card-imgage">
                        <img src="{{OfferDetails.image}}" alt="Picture">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body" style="padding: 0;">
                        <div class="card-card rest-border">
                            <div class="card-custom">
                                <div style="padding: 16px" class="card-description">
                                    <div class="label-name text-center" style="font-size: 25px;">Offer New Details</div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Name</div>
                                            <div>{{OfferDetails.name}}</div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Type</div>
                                            <div>{{OfferDetails.type}}</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Lower Limit</div>
                                            <div>{{OfferDetails.lower_limit}}</div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Upper Limit</div>
                                            <div>{{OfferDetails.upper_limit }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Created Date</div>
                                            <div>{{OfferDetails.created_date | date}}</div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Updated Date</div>
                                            <div>{{OfferDetails.updated_date | date }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Status</div>
                                            <div>{{OfferDetails.status }}</div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Description</div>
                                            <div>{{OfferDetails.description }}</div>
                                        </div>
                                    </div>

                                     <div class="row mt-2">
                                        <div class="col-md-2">
                                            <button class="btn btn-primary btn-sm"
                                                [routerLink]="['/restaurant-approvals']">
                                                Back
                                            </button>
                                        </div>
                                        <div class="col-md-2 mr-3">
                                            <button class="btn btn-success btn-sm" (click)="IsApproval()">Approve</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-danger btn-sm" (click)="IsDiscard()">Discard</button>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="OfferPreviousDetails !== undefined">
        <div class="card col-md-12 p-2 ml-0.5 pb-3" *ngIf="OfferDetails?.action === 'edit'">
            <div class="row">
                
                <div class="col-md-6">
                    <div class="card-body" style="padding: 0;">
                        <div class="card-card rest-border">
                            <div class="card-custom">
                                <div style="padding: 16px" class="card-description">
                                    <div class="label-name text-center" style="font-size: 25px;">Offer Previous Details</div>

                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Name</div>
                                            <div>{{OfferPreviousDetails.name}}</div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Type</div>
                                            <div>{{OfferPreviousDetails.type}}</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Lower Limit</div>
                                            <div>{{OfferPreviousDetails.lower_limit}}</div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Upper Limit</div>
                                            <div>{{OfferPreviousDetails.upper_limit }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Created Date</div>
                                            <div>{{OfferPreviousDetails.created_date | date}}</div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Updated Date</div>
                                            <div>{{OfferPreviousDetails.updated_date | date }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Status</div>
                                            <div>{{OfferPreviousDetails.status }}</div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="label-name">Description</div>
                                            <div>{{OfferPreviousDetails.description }}</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="text-align:start;" class="card-imgage">
                        <img src="{{OfferPreviousDetails.image}}" alt="Picture">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>