<h3 class="text-center">Terms and Conditions</h3>
<hr>
<p class="text-center">Terms and conditions are a binding set of rules that serve as a contract<br> between you and the users who visit your website or use your app.<br>

    They are also known as terms of service and terms of use, and <br> are abbreviated as T&Cs (or ToS and ToU, respectively).
    
    Having terms and<br> conditions isn’t a legal requirement, but they are critical to maintaining your rights<br> and protecting your business. Therefore, it’s in your best interest to create a terms and conditions <br>template for your services, and display the agreement on your site.
    
    </p>
