<!-- <div class="card style pt-2">
    <div class="col-md-12">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                    <h3>Payment On Delivery Order Management</h3>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
               
            </div>
        </div>
    </div>
</div> -->

<div class="card">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="col-md-4">
                <ejs-daterangepicker id='daterangepicker' placeholder='Filter by date range' [startDate]='start'
                    [endDate]='end' (change)="IsRangeDate($event)">
                </ejs-daterangepicker>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <select [(ngModel)]="lastdate" [ngModelOptions]="{standalone: true}"
                                (change)="lastDays($event)" class="btn-sm btn-secondary">
                                <option selected value="undefined">Filter Days</option>
                                <option value="15">Last 15 days</option>
                                <option value="30">Last 30 days</option>
                                <option value="6">Last 6 months</option>
                                <option value="1">Last 1 year</option>
                            </select>
                        </div>
                    </div>
                </form>
                <form style="margin-left: 2px;" class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <select [(ngModel)]="restaurant" [ngModelOptions]="{standalone: true}"
                                (change)="IsRestChange($event)" class="btn-sm btn btn-secondary">
                                <option [ngValue]="undefined" hidden>Filter Restaurant</option>
                                <option *ngFor="let item of category" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
                <form style="margin-left: 2px;" class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <select placeholder="Status" [(ngModel)]="status" [ngModelOptions]="{standalone: true}"
                                (change)="IsStatusChange($event)" class="btn-sm btn-secondary">
                                <option selected value="undefined">Filter Status</option>
                                <option value="REFUND">Refund</option>
                                <option value="SUCCESS">Success</option>
                                <option value="PENDING">Pending</option>
                                <option value="CANCELLED">Cancelled</option>
                                <option value="PAID_ON_DELIVERY">Paid on Delivery</option>
                                <option value="SUCCESS_REVIEW">Success_Review</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div *ngIf="loading" class="dot-opacity-loader">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!-- <div class=""> -->
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex align-items-end flex-wrap">
                                </div>
                                <div class="d-flex justify-content-between align-items-end flex-wrap">
                                    <h5  *ngIf="TotalSum > 0">Total Amount : AED {{TotalSum}}</h5>&nbsp;&nbsp;
                                    <button type="submit" (click)="onCreate()" class="btn btn-secondary btn-sm"
                                    *ngIf="TotalSum > 0">Change Status</button>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Restaurant
                                </th>
                                <th>
                                    Status
                                </th>

                                <th>
                                    Order Id
                                </th>
                                <th>
                                    Order Date
                                </th>
                                <th>
                                    Order Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let customer of customers | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }; let i=index">
                                <td>
                                    <!-- <input type="checkbox" /> -->
                                    <!-- <span *ngIf="customer.payment_status === 'PAID'"><input [disabled]="isDisabled"
                                            type="checkbox" (change)="IsCalculation(customer)"
                                            [(ngModel)]="customer.isCheck" name="isCheck" id="customer.id" /></span>
                                    <span *ngIf="customer.payment_status === 'INITIATED'"><input [disabled]="isDisabled"
                                            type="checkbox" (change)="IsCalculation(customer)"
                                            [(ngModel)]="customer.isCheck" name="isCheck" id="customer.id" /></span> -->
                                    <span class="table-active"><input
                                            type="checkbox" (change)="IsCalculation(customer)"
                                            [(ngModel)]="customer.isCheck" name="isCheck" id="customer.id" /></span>
                                </td>
                                <td>
                                    {{customer.order.restaurant.name}}
                                </td>
                                <td>
                                    <span *ngIf="customer.status.name === 'REFUND'"><a
                                            style="color: orange;">{{customer.status.name}}</a></span>
                                    <span *ngIf="customer.status.name === 'DECLINED'"><a
                                            style="color: brown;">{{customer.status.name}}</a></span>
                                    <span *ngIf="customer.status.name === 'PAID_ON_DELIVERY'"><a
                                            style="color:green;">{{customer.status.name}}</a></span>
                                    <span *ngIf="customer.status.name === 'SUCCESS_REVIEW'"><a
                                            style="color: rgb(6, 70, 11);">{{customer.status.name}}</a></span>
                                    <span *ngIf="customer.status.name === 'CANCELLED'"><a
                                            style="color: rgb(212, 13, 13);">{{customer.status.name}}</a></span>
                                    <span *ngIf="customer.status.name === 'SUCCESS'"><a
                                            style="color: rgb(36, 212, 13);">{{customer.status.name}}</a></span>
                                    <span *ngIf="customer.status.name === 'PENDING'"><a
                                            style="color: orangered;">{{customer.status.name}}</a></span>

                                    <!-- {{customer.status.name}} -->
                                </td>

                                <td>
                                    {{customer.order.id}}
                                </td>
                                <td>
                                    {{customer.order.created_date | date}}
                                </td>
                                <td>
                                    AED {{customer.order.total_amount | number: '.0-2'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>