<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                    <h3>Order Details</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card mb-2 col-md-8 shadow bg-white rounded">
        <div class="card-body">
            <h4 class="text-secondary"> Order Detail</h4>
            <hr>
            <div>
                <div class="table-responsive pt-3">
                    <table class="table table-hover">
                        <thead class="style">
                            <tr>
                                <th>
                                    Items
                                </th>
                                <th>
                                     Item Quantity
                                </th>
                                <th>
                                    Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{detailsData.inorder[0].item_name}}
                                </td>
                                <td>
                                    {{detailsData.inorder[0].item_quantity}}
                                </td>
                                <td>
                                    AED {{detailsData.payment_detail[0].amount}}
                                    <!-- AED: {{ detailsData.inorder[0].item_quantity * detailsData.inorder[0].item_price }} -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><br>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <div>
                            Discount[?]: AED 0.0
                            <!-- ${{row.price}} -->
                        </div><br>
                        <div>
                            Shipping[?]: AED 0.0
                            <!-- ${{row.price}} -->
                        </div><br>
                        Order Total: AED {{detailsData.total_amount}}
                        <!-- <b>${{totalAmont}}</b> -->
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="card mb-2 col-md-4 shadow-lg bg-white rounded">
        <div class="card-body">
            <h4 class="text-secondary">General Details</h4>
            <hr>
            <div>Order ID: {{detailsData.id}} </div> <br>
            <div>Payment: Paymentmethod </div> <br>
            <!-- <div>Order Date: {{detailsData.created_date | date}} </div> -->

            <hr>
            <div>Deliver To: Customer Name </div><br>
            <div>Mobile: 1234567890 </div>
        </div>
    </div>
</div>

    <!-- <div class="card mb-2 col-md-4 shadow-lg bg-white rounded">
        <div class="card-body">
            <h4 class="text-secondary">General Details</h4>
            <hr>
            <div>Order ID: {{detailsData.id}} </div> <br>
            <div>Payment: {{detailsData.id}} </div> <br>
            <div>Order Date: {{detailsData.created_date | date}} </div>

            <hr>
            <div>Deliver To: {{detailsData.created_date | date}} </div><br>
            <div>Mobile: 1234567890 </div>
        </div>
    </div> -->

