.form-control {
    color: #495057;
}

.scroll-comment{
    max-height: 40px;
    overflow-y: auto;
}

.disable {
    pointer-events: none;
    background-color: #f1f1f1;
}

.thead-lightNew {
    background-color: #f6f8fa;
    border-bottom: 1.1px solid #d0d7de;
}

.border-table {
    border: 1px solid #d0d7de;
}

.table-bottom-line {
    border-left: 2px solid #d8dee4;
    height: 30px;
    margin-left: 20px;
}

.comment-head {
    font-size: 15px;
    color: #83868a;
}