.dshb{
color: black;
background-image: linear-gradient(to right bottom, #0c1cbe, #0a20b2, #0c23a6, #0f259a, #14268e, #14248a, #142385, #142181, #0f1c83, #0b1685, #070f87, #050589);
}


.jkh{
    background-image: linear-gradient(to right bottom, #eb1313, #ee1f12, #f12710, #f42f0f, #f7360d, #f8360f, #f83710, #f93712, #f73016, #f6291a, #f4211d, #f21720);
}

.klk{
    background-image: linear-gradient(to right bottom, #0c96ee, #009ee6, #00a5db, #1faace, #47aec2, #50b5c3, #5abbc4, #64c2c5, #5aced1, #4edadc, #3be6e7, #17f2f2);
}

.lkj{
    background-image: linear-gradient(to right bottom, #f20eca, #f20dc6, #f20cc2, #f20bbf, #f20bbb, #ef07bd, #ec03c0, #e900c2, #e100cc, #d600d6, #ca00e0, #bb0feb);
}


.olk{
    background-image: linear-gradient(to bottom, #0c2a1d, #153633, #284145, #3f4c54, #54585e);
}



/* .container {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
    grid-gap: 20px;
    place-content: center;
    margin-top: 30px;
  
    & > * {
      border-radius: 20px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
  } */

  .container {
    /* display: grid; */
    display:inline-flex;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
    grid-gap: 5px;
    place-content: center;
    margin: 15px;
      border-radius: 10px;
      /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    }
  

    .back{
        background-image: linear-gradient(to right bottom, #051937, #002a3e, #00393b, #2a4537, #4a4f3c);
    }
  
  
  
    .panel ::-webkit-scrollbar {
      width: .4em;
      height: .4em;
  }
  ::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}
.panel ::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.6);
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  /* background: #d9d9d9; */
  cursor: pointer;
}
.panel ::-webkit-scrollbar-track {
  /* background: rgba(255,255,255,.7); */
}
::-webkit-scrollbar-track {
  background: 0 0;
}
  
    .pie-charts .chart canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
    audio, canvas, progress, video {
        display: inline-block;
        vertical-align: baseline;
    }
    .pie-charts .chart {
        position: relative;
        display: inline-block;
        width: 84px;
        height: 84px;
        text-align: center;
        float: left;
    }
  
  /* .nbh{
    background-image: radial-gradient(circle, #051937, #001c2c, #001b1c, #071710, #11120e);
  } */
/* .dash{
  background-image:url("../../../../../assets/images/blur-bg.jpg");
  opacity: 0.9;
} */
  .nbh{
    background-image:url("../../../../../assets/images/blur-bg.jpg");
    box-shadow: 0px 2px 9px -3px black;
    /* opacity: 0.8; */
  }

  .static {
    box-shadow: 0px 2px 9px -3px black;
    background-color: #2d3c50;
  }

  .klh{
    background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  }

  .element.style {
    display: block;
    width: 457px;
    height: 228px;
}
.chartjs-render-monitor {
  animation: chartjs-render-animation 1ms;
}
canvas{
  aspect-ratio: auto 457 / 228;
}

.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}
.highcharts-background {
  width: 400px;
  height: 200px;

}
.act {
  margin: 0 20px 0 20px;
  background: #2d3c50;
  padding: 20px;
  border-radius: 0.1875rem;
  display: inline-flex;
  color: #ffffff !important;
  width: 100%;
  font-size: 20px;
}

.selc{
  background-color: #22556f !important;
  border-color: #22556f !important;
  width: 258px;
}

.top-trand {
  background: #f5f7f7;
  color: black;
  border: #f5f7f7;
  font-family: English-Black;
  font-weight: bold;
  font-size: 17px;
}

.td-trand {
  font-family: English-Black;
  font-size: 17px;
}

.top-scroll {
  height: 257px;
  position: relative;
  overflow: auto;
  display: block;
}

.chart-border {
  border: 3px solid #d3c5c5bd; 
  border-radius: 5px;
}

.head-chart {
  text-align: center;
  border-bottom: 3px solid #d3c5c5bd;
  padding: 5px;
}

.head-color {
  color: #24415d;
}

.border {
  border: none !important;
}

.nav-tabs .nav-item .nav-link.active {
  color: #24415d;
}

h5 {
  font-family: English-Black;
  font-weight: bold;
  font-size: 17px;
}

.Subs-amount{
  margin-bottom: 6px; 
  margin-top: -18px;
}

.description{
  cursor: pointer;
}