<form action="" [formGroup]="form">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Password <span class="required">*</span></label>
                    <input type="text" formControlName="password" class="form-control" placeholder="Enter Password"
                        ngbAutofocus>
                    <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
                        class="alert1">
                        <div *ngIf="form.controls['password'].errors.required">
                            Please Enter Password.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Confirm Password <span class="required">*</span></label>
                    <input type="text" formControlName="confirm_password" class="form-control" placeholder="Enter Confirm Password"
                        ngbAutofocus>
                    <div *ngIf="form.controls['confirm_password'].invalid && (form.controls['confirm_password'].dirty || form.controls['confirm_password'].touched)"
                        class="alert1">
                        <div *ngIf="form.controls['confirm_password'].errors.required">
                            Please Enter Confirm Password.
                        </div>
                        <div *ngIf="form.controls['confirm_password'].errors.confirmedValidator">Password and Confirm Password must be match.</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="onDismiss()">Close</button>
        <button class="btn btn-secondary btn-sm" (click)="onSubmit()">Create</button>
        <!-- <img src="../../../../../../assets/images/loader.gif" *ngIf="loading"> -->
    </div>
</form>
